.card-title {
  font-family: 'Noto Sans JP', sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background-color: #000;
  transition: all 0.5s;
}

.overlay:hover {
  opacity: 0.4;
}

.overlay:hover {
  opacity: 0.4;
}
